<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <div class="container">
        <div id="app">
            <h1 id="greetings" th:text="'Select an option'" />
<!--            <a class="btn btn-primary" href="#people" role="button">People</a>-->
            <a class="btn btn-primary" href="#calendar" role="button">Calendar</a>
            <a class="btn btn-primary" href="#times" role="button">Times</a>
        </div>
    </div>
</head>
<body>

<!-- Bootstrap CSS -->
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->

<link rel="stylesheet" href="webjars/bootstrap/4.4.1-1/css/bootstrap.css">

<!-- Optional JavaScript -->
<script src="js/module.js"></script>
<script src="js/modules.js"></script>
<script src="js/route.js"></script>
<script src="js/router.js"></script>
<script src="js/app.js"></script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<!--<script src="webjars/popper/js/1.14.3/popper.js"></script>-->
<script src="webjars/jquery/3.5.1/jquery.js"></script>
<!--<script src="webjars/jquery/3.5.1/webjars-requirejs.js"></script>-->
<script src="webjars/bootstrap/4.4.1-1/js/bootstrap.js"></script>

<!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>-->
</body>
</html>